#ifndef ESPS_DRV_ESPS_STACK_H
#define ESPS_DRV_ESPS_STACK_H

/**
 * @addtogroup espsi_drv
 * @{
 *
 * @file     esps_drv_esps_stack.h
 * @brief    Dependencies from ESPS I Network Stack
 *
 * @}
 */
 
#ifdef __cplusplus
extern "C" {
#endif

// Include the headers for the ESPS I configuration

#include "ESPS_Stack.h"
#include "ES_SAT_MAC.h"

#ifdef __cplusplus
}
#endif

#endif // ESPS_DRV_ESPS_STACK_H
